<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="Shivprasad" content="">
  <title>My Catalog App</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/shop-homepage.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=start"> </script>

  <script>
    gapi.load('auth2', function () {
      auth2 = gapi.auth2.init({
        client_id: '492547466098-oti5a83749u102k2lqedkilqvk02oump.apps.googleusercontent.com'
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  </script>
  <script src="/static/js/main.js"></script>

</head>

<body>

  <div class="alert alert-success" id="result">{{result}}</div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Catalog App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            {% if authenticated == true %}
            <a class="nav-link" href="#" onclick="signOut();">Logout</a>
            {% else %}
            <a class="nav-link" href="#" onclick="signIn()">Login with Google</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h2 class="my-4">All categories</h2>
        <div class="list-group">
          {% for i in categories %}
          <a href="{{url_for('getAllCategoryItems', cat_name=i.name)}}" class="list-group-item">{{i.name}}</a>
          {% endfor %}
        </div>
      </div>


      <div class="col-lg-6">
        <h2 class="my-4">{{itemsHeading}}</h2>
        {% for j in items %}
        <div>
          <h6>
            {% if request.path == "/" %}

            {% for category in categories if category.id == j.cat_id %}
            <a href="{{url_for('getItemDesc', cat_name=category.name, item_title=j.title)}}">{{j.title}}({{category.name}})</a>
            {% endfor %}

            {% else %}
            {% for category in categories if category.id == j.cat_id %}
            <a href="{{url_for('getItemDesc', cat_name=category.name, item_title=j.title)}}">{{j.title}}</a>
            {% endfor %}
            {% endif %}

          </h6>
        </div>
        {% endfor %}
      </div>

      {% if authenticated == true %}
      <div class="col-lg-3">
        <h2 class="my-4">Options</h2>
        <div class="list-group">
          <h5><a href="{{url_for('newCategoryItem')}}">Add Item</a></h5>
        </div>
      </div>
      {% endif %}

    </div>
  </div>


  <script>
    // function signOut() {
    //   var auth2 = gapi.auth2.getAuthInstance();
    //   auth2.signOut().then(function () {
    //     console.log('User signed out.');
    //   });
    //   $.ajax(
    //     {
    //       url: '/gdisconnect',
    //       success: function (result) {
    //         if (result) {
    //           var obj = jQuery.parseJSON(result);
    //           $('#result').html(obj.message + '. Redirecting...')
    //           setTimeout(function () {
    //             window.location.href = "/";
    //           }, 1000);
    //         }
    //         else {
    //           console.log('Failed to signed out.');
    //         }
    //       }
    //     }
    //   );
    // }

    function signIn() {
      auth2.grantOfflineAccess({ 'redirect_uri': 'postmessage' }).then(signInCallback);
    }

    function signInCallback(json) {
      console.log('inside callback fuction');
      console.log(json);
      authResult = json;
      if (authResult['code']) {
        //$('#signinButton').attr('style', 'display: none');
        $.ajax(
          {
            type: 'POST',
            url: '/oauth/google?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function (result) {
              if (result) {
                var obj = jQuery.parseJSON(result);
                $('#result').html('Sucessfully logged in as ' + obj.name + '. Redirecting...')
                setTimeout(function () {
                  window.location.href = "/";
                }, 3000);

              }
              else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              }
              else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }

          });
      }
    }

        //     setTimeout(function () {
        //     if (document.getElementById("result")) {
        //         $('#alert-text').slideUp('300');
        //     }
        // }, 2000)
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>